.card-wrapper {
  width: 288px;
  max-height: 380px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
}

.card-wrapper img {
  width: 100%;
  max-height: 200px;
}
